:root {
  --clr-white: hsl(0, 100%, 100%);
  --clr-grey-200: hsl(210, 46%, 95%);
  --clr-grey-400: hsl(212, 23%, 69%);
  --clr-grey-500: hsl(214, 17%, 51%);
  --clr-grey-900: hsl(217, 19%, 35%);

  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;

  --lh-200: 1.3;
  --lh-300: 1.4;

  --ls-100: 0.25px;
  --ls-200: 0.12%;
  --ls-900: 25%;

  --spc-200: 1rem;
  --spc-300: 1.5rem;
  --spc-400: 2rem;
  --spc-500: 2.5rem;
  --spc-600: 3rem;
  --spc-700: 3.5rem;
  --spc-800: 4rem;
  --spc-900: 4.5rem;
  --spc-1000: 5rem;
  --spc-1300: 6.5rem;
  --spc-2000: 10rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--clr-grey-200);
}

main {
  padding: var(--spc-800) var(--spc-300);
}

img {
  max-width: 100%;
}

button {
  font: inherit;
  border: none;
}

p {
  font-size: 0.8125rem;
}

.article {
  display: grid;
  grid: "img" "title" "description" "author" "share" / 1fr;
  border-radius: 0.625rem;
  background-color: var(--clr-white);
  overflow: hidden;
  box-shadow: 0px 40px 40px -10px #c9d5e1;
}

.article__figure {
  margin-bottom: var(--spc-400);
}

.article__title {
  color: var(--clr-grey-900);
  margin-bottom: var(--spc-300);
  font-size: 1.25rem;
  padding: 0 var(--spc-400);
}

.article__description {
  color: var(--clr-grey-500);
  padding: 0 var(--spc-400);
}

.article__author {
  display: flex;
  gap: var(--spc-800);
  padding: 0 var(--spc-400);
  margin-top: var(--spc-600);
  align-items: center;
  padding-bottom: var(--spc-300);
}

.article__author-img {
  width: var(--spc-500);
  height: var(--spc-500);
  grid-area: img;
  border-radius: var(--spc-1300);
}

.article__author-name {
  grid-area: name;
  color: var(--clr-grey-900);
  font-weight: var(--fw-bold);
  line-height: var(--lh-300);
  font-size: 0.77rem;
  letter-spacing: var(--ls-200);
}

.article__author-date {
  grid-area: date;
  color: var(--clr-grey-400);
  font-size: 0.77rem;
  font-weight: var(--fw-med);
  letter-spacing: var(--ls-200);
  line-height: var(--lh-300);
  align-self: end;
}

.author-details {
  display: grid;
  grid: "img name" "img date" / max-content 1fr;
  column-gap: var(--spc-200);
}

.icon.icon--share {
  width: 0.9375rem;
  height: 0.8125rem;
}

.icon--share {
  fill: var(--clr-grey-500);
}

.share-button {
  width: var(--spc-400);
  height: var(--spc-400);
  background-color: var(--clr-grey-200);
  border-radius: var(--spc-1300);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.share-button:focus,
.share-button:active,
.share-button:hover {
  background-color: var(--clr-grey-500);
}
.share-button:focus > svg,
.share-button:active > svg,
.share-button:hover > svg {
  fill: var(--clr-white);
}

.share-button--dark {
  background-color: var(--clr-grey-500);
}

.share-button--dark > svg {
  fill: var(--clr-white);
}

.share-toast {
  display: flex;
  background-color: var(--clr-grey-900);
  color: var(--clr-grey-400);
  height: var(--spc-1000);
  margin-top: var(--spc-400);
  align-items: center;
  justify-content: space-between;
  padding: var(--spc-200) var(--spc-400);
}

.share-toast__content {
  display: flex;
  gap: var(--spc-200);
}

.share-toast__text {
  text-transform: uppercase;
  letter-spacing: var(--ls-900);
}

.share-links {
  list-style: none;
  display: flex;
  gap: var(--spc-200);
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: var(--spc-200);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 700px) {
  .article {
    grid:
      "img title" auto
      "img description" auto
      "img author" auto / 40% 1fr;
    max-width: 38rem;
  }

  .article__figure {
    grid-area: img;
    height: 100%;
    margin: 0;
  }

  .article__img {
    height: 100%;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
  }

  body {
    height: 100vh;
    display: grid;
    place-content: center;
  }

  main {
    padding: 0 var(--spc-1000);
  }

  header {
    grid-area: title;
  }

  .article {
    position: relative;
    overflow: visible;
  }

  .article__title {
    padding: var(--spc-600) var(--spc-400) 0;
    letter-spacing: var(--ls-100);
  }

  .article__description {
    grid-area: description;
    padding: 0 var(--spc-600) 0 var(--spc-400);
  }

  .article__author {
    grid-area: author;
    margin-top: var(--spc-300);
    padding: 0 var(--spc-600) var(--spc-600) var(--spc-400);
    justify-content: space-between;
  }

  .share-toast {
    position: absolute;
    right: -9.5%;
    bottom: var(--spc-1300);
    border-radius: 10px;
    height: fit-content;
    box-shadow: 0px 10px 10px 0px #c0d5e1;
  }

  .share-toast::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 46%;

    /* Create triangle with CSS borders */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--clr-grey-900);
  }
}

@media (min-width: 1200px) {
  .article {
    max-width: 46rem;
  }

  .share-toast {
    right: -8%;
  }
}
